body {

    background-color: burlywood;
    font-size: 80px;
    
    
}


.Efforts {

    font-size: 50px;
    color: blue;

}

.Finding {

    font-size: 50px;
    color: aliceblue;
    

}
